<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Speech Recognition API">
    <title>
        {% block title %}
            Speech Recognition API
        {% endblock %}
    </title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/vendor/bootstrap.min.css')}}">
    {% block add_css %} {% endblock %}
</head>
<body>
    <div id="wrapper">
        {% if get_flashed_messages() %}
            <div class="card">
                {% block flashed_messages %}
                {% for message in get_flashed_messages() %}
                <div class="card-body bg-danger text-center text-white">
                    {{ message }}
                </div>
                {% endfor %}
                {% endblock %}
            </div>
        {% endif %}
        <header>
            {% block header %}{% endblock %}
        </header>
        <main>
            {% block main %}{% endblock %}
        </main>
        <footer>
            {% block footer %}{% endblock %}
        </footer>
    </div>

    <script src="{{url_for('static', filename='js/vendor/jquery-3.4.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/vendor/bootstrap.min.js')}}"></script>
    {% block add_js %} {% endblock %}
</body>
</html>